@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
:root {
    --cor1:#00747C; 
    --cor2:#4ee0eb; 
    --cor3:#CACACA;  
    --cor4:#878787; 
    --cor5:#202022;
    --fontepadrao:'Poppins';
    --fonte2:'Titillium Web';
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #00747C;
    width: 1700px;
    height: 713px;
}

header {
    background-image: linear-gradient(30deg,#00747C,#4ee0eb);
    padding-top: 30px;
}

header > h1 {
    font-family: var(--fonte2);
    text-align: center;;
    color: #0d3032;
    margin-bottom: 5%;
    font-size: 40px;
}

header p {
    text-align: center;
    font-size: 1.8em;
    font-family: var(--fonte2);
    font-weight: 500;
    color: #bcf4df;
     text-shadow: 2px 3px 6px rgba(0, 0, 0, 0.34);;
    border-color: #202022;
    padding-top:15px ;
    margin-bottom: 15px;
}
nav {
    padding: 7px;
    background-color: #0d3032;
    box-shadow: 3px 1px 4px rgba(0, 0, 0, 0.452);
    border: 10px 10px 10px 10x;
}
nav a {
    padding: 5px;
    text-decoration: none;
    border-radius: 10px;
    transition: 0.5s;
    color: #7171f6;
    font-size: 20px;
    font-family: 'Poppins',sans-serif;
    margin-left: 20px;
}
nav a:hover {
    background-color: #59d7e0;
    color: #0d3032;
}

main {
    text-align: center;
    height: 200px;
    width: 200px;
}
div#painelogin {
    background-color: #33979c;
    width: 600px;
    height: 300px;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 100px;
}
div#painelogin > h2 {
    font-family: var(--fontepadrao);
    padding-top: 10px;
    margin: 10px auto 0px auto;
}
input#email {
    height: 35px;
    width: 240px;
    border: 1px solid black;
    border-radius: 3px;
    margin: 50px auto 1px auto;
}
input#senha {
    height: 35px;
    width: 240px;
    margin: 7px auto 1px auto;
    font-family: var(--fonte2);
    background-color: #ffffff;
    border-radius: 3px;
    box-shadow: none;
    border: 1px solid black;
}

input#email::placeholder  {
    color: var(--cor1);
    position: relative;
    left: 3px;
}
input#email:active {
    border: none;
}

input#senha::placeholder  {
    color: var(--cor1);
    position: relative;
    left: 3px;
}

button#botao{
    width: 150px;
    height: 30px;
    margin: 20px auto 20px auto;
    border-radius: 4px;
    border: 1px solid black;
    transition: 0.5s;
}
button#botao:active {
    background-color: gray  ;
}